<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static%}
    <!-- Compiled and minified CSS -->
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Document</title>
</head>
<body>

    <nav>
        <div class="nav-wrapper black darkenn-1">
          <a href="#" class="brand-logo">Usuarios</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Inicio</a></li>
            <li><a href="badges.html">Registro</a></li>
            <li><a href="collapsible.html">Entrar</a></li>
          </ul>
        </div>
      </nav>

    <div class="container">  
    
        <div class="row">
            {% for us in usuarios %}

                <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                    <span class="card-title">{{us.Usuario_nombre}}</span>
                    <p>{{us.Usuario_cedula}}</p>
                    <p>{{us.Usuario_salida}}</p>
                    <br><br>
                    </div>
                    <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                    </div>
                </div>
                </div>
            {% endfor%}
        </div>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
